/*---------- home.css for Portfolio Kakoui ----------*/

/*-- Article "About" of Kakoui  --*/ 

.article_kakoui_home {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50%;
    width: 60%;
}

/*TitleOfArticle*/

#text1_kakoui_home {
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    text-decoration: none;
    font-size: 250%;
}

/*TextOfArticle*/

/*Image*/

#image1_kakoui_home {
    position: absolute;
    left: 10%;
    top: 35%;

}

/*BUTTON_READMORE*/

#button_readmore_home {
    position: absolute;
    top: 75%;
    left: 20%;
    text-decoration: none;
    border: 2px white solid;
    color: white;
    background: rgba(0,0,0,0.5);
    height: 10%;
    width: 10%;
}

/*BUTTON_DISCORD*/

#button_discord_home {
    position: absolute;
    top: 75%;
    left: 40%;
    text-decoration: none;
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    height: 10%;
    width: 10%;
}