/*---------- home.css for Portfolio Kakoui ----------*/

/*-- Article "About" of Kakoui  --*/ 

.article_kakoui_home {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 55%;
    width: 60%;
}

/*TitleOfArticle*/

#text1_kakoui_home {
    position: absolute;
    top: 25%;
    color: white;
    text-decoration: none;
    font-size: 250%;
    margin-left: 24.5%;
    font-weight: xx-large;
}

#text1_kakoui_home:hover {
    color: grey;
    font-size: 240%;
    position: absolute;
    top: 26%;
    margin-left: 24.5%;
}

/*TextOfArticle*/

#text2_kakoui_home {
    position: absolute;
    top: 40%;
    margin-left: 25%;
    color: white;
    font-size: 110%;
    width: 60%;
    text-decoration: none;
    font-weight: lighter;
    line-height: 150%;
}

/*Image*/

#image1_kakoui_home {
    position: absolute;
    left: 10%;
    top: 35%;

}

#image1_kakoui_home:hover {
    position: absolute;
    left: 9.5%;
    top: 34.5%;
    height: 28.5%;
    width: 13.5%;
}

/*BUTTON_READMORE*/

#button_readmore_home {
    position: absolute;
    top: 65%;
    left: 25%;
    text-decoration: none;
    border: 2px white solid;
    color: white;
    background: rgba(0,0,0,0.5);
    height: 8%;
    width: 10%;
    transition: 0.5s;
}

#button_readmore_home:hover {
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    transition: 0.5s;
}

/*BUTTON_DISCORD*/

#button_discord_home {
    position: absolute;
    top: 65%;
    left: 40%;
    text-decoration: none;
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    height: 8%;
    width: 10%;
    transition: 0.5s;
}

#button_discord_home:hover {
    border: 2px white solid;
    color: white;
    background: rgba(0,0,0,0.5);
    transition: 0.5s;
}