/*---------- resolution_mobile.css for Portfolio Kakoui ----------*/

/*-- 1024px under --*/

@media (max-width: 1280px) {
    /*style*/
    nav {
        position: absolute;
        left: 1%;
        height: 2%;
        width: 2%;
    }
    footer{
        width: 16%;
    }

    #copyright_footer {
        position: absolute;
        left: 0%;
    }

    /*home*/

    #image1_kakoui_home {
        height: 20%;
        width: 20%;
    }
}