/*---------- style.css for Portfolio Kakoui ----------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body { 
    background-image: url('../image/background.png');
    background-size: 100%;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------------  Class ---------------------------------------*/

/*-- Form Type --*/

.form-type {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(168, 168, 168, 0.5);
    background-image: none;
    border: 0px solid rgba(168, 168, 168, 0.5);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-type:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

/*-- Button Black Type --*/

.btn-black-type {
    text-decoration: none;
    border: 2px white solid;
    color: white;
    background: rgba(0,0,0,0.5);
    height: 5.5%;
    width: 8%;
    font-size: 75%;
    transition: 0.5s;
}

.btn-black-type:hover {
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    transition: 0.5s;
}

/* Button White Type */

.btn-white-type {
    text-decoration: none;
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    height: 5.5%;
    width: 8%;
    font-size: 75%;
    transition: 0.5s;
}

.btn-white-type:hover {
    border: 2px white solid;
    color: white;
    background: rgba(0,0,0,0.5);
    transition: 0.5s;
}

/*------------------------------------------------------------------------------*/


/* --------------------------------------- Navigation ---------------------------------------*/

nav {
    position: absolute;
    top: 40%;
    left: 0%;
    text-decoration: none;
}

/*---------------------- Navigation Groupe ----------------------*/

.nav_group {
    text-decoration: none;
}

/*-------------------- HOME_NAV --------------------*/

#home_nav {
    position: absolute;
    top: -400%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

#home_nav:hover {
    background-color: white;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

/*----*/

#image_home_nav {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/

#text_home_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

#text_home_nav:hover {
    color: grey;
}

/*----------------------------------------*/

/*-------------------- ABOUT_NAV --------------------*/

#about_nav {
    position: absolute;
    top: 300%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

#about_nav:hover {
    background-color: white;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

/*----*/

#image_about_nav {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/

#text_about_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

#text_about_nav:hover {
    color: grey;
}

/*----------------------------------------*/

/*-------------------- PROJECT_NAV --------------------*/

#project_nav {
    position: absolute;
    top: 1000%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

#project_nav:hover {
    background-color: white;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

/*----*/

#image_project_nav {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/

#text_project_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

#text_project_nav:hover {
    color: grey;
}

/*----------------------------------------*/

/*-------------------- CONTACT_NAV --------------------*/

#contact_nav {
    position: absolute;
    top: 1700%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
    
}

#contact_nav:hover {
    background-color: white;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

/*----*/

#image_contact_nav {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/

#text_contact_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

#text_contact_nav:hover {
    color: grey;
}

/*----------------------------------------*/


/*------------------------------------------------------------------------------*/



/* --------------------------------------- Header ---------------------------------------*/

header {
    position: absolute;
    top: 12.5%;
    left: 0%;
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75%;
    width: 20%;
}

#title_portfolio {
    position: absolute;
    top: 2%;
    left: 15%;
    background-color: rgb(46, 46, 46);
    width: 60%;
    height: 12.5%;
    border-radius: 8%;
}

#title_port {
    position: absolute;
    top: 5%;
    left: 22.9%;
    font-weight: bolder;
    letter-spacing: 0.05em;
}

#title_folio {
    position: absolute;
    top: 5%;
    left: 45.1%;
    font-weight: lighter;
}

/*------------------------------------------------------------------------------*/



/* --------------------------------------- Footer ---------------------------------------*/

footer {
    position: absolute;
    bottom: 0%;
    left: 85%;
    height: 7%;
    width: 12%;
}

#copyright_footer {
    position: absolute;
    bottom: 30%;
    right: 22.5%;
    height: 10%;
    width: 150%;
}

/*------------------------------------------------------------------------------*/

/* --------------------------------------- Other ---------------------------------------*/

/*-- Lien --*/

a {
    text-decoration: none;
}

/*------------------------------------------------------------------------------*/